@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}

header .row {
    padding-top: 4em;
    width: 100%;
    top: 0;
    position: absolute;
    z-index: 2;
}


.header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-logo img {
    width: 100%;
    object-fit: cover;
}

.header-logo a {
    width: 50%;
    display: inline;
}

nav {
    height: 100%;
}

.header-menu ul {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.header-menu ul li {
    list-style-type: none;
    padding: 0 1em;
}

.header-menu a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.1rem;
}

.banner {
    top: 0;
    position: relative;
}

.banner-img img {
    width: 100%;
}

.banner-content {
    position: absolute;
    width: 40%;
    bottom: 5rem;
    right: 0;
    padding-right: 5rem;
}

.banner-content h1 {
    text-align: right;
    color: #ffffff;
    font-weight: 700;
    font-size: 3rem;
}

.banner-content h2 {
    font-size: 2.5em;
    text-align: right;
    font-weight: 700;
    color: #F36F2C;
}

.banner-content button {
    font-size: 0.7em;
    border: none;
    background-color: #05A9D7;
    color: #fff;
    padding: 0.4em 1em;
    font-weight: 500;
}

.banner-button {
    display: flex;
    justify-content: end;
    width: 80%;
}

.banner-img .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(269deg, rgb(0 0 0 / 65%) 1%, rgba(0, 0, 0, 0) 80.78%);
    width: 100%;
    height: 100%;
}

.ads {
    background-color: #05A9D7;
    color: #fff;
    padding: 2em;
}

.ads h2 {
    font-size: 2.1rem;
    margin: 0;
    text-transform: uppercase;
    text-align: center;
}

.about {
    height: 35rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-content {
    width: 32%;
}

.about-content h3 {
    color: #05A9D7;
    font-size: 1.5rem;
    font-weight: 700;
}

.about-content h2 {
    color: #F36F2C;
    font-size: 2rem;
    font-weight: 800;
}

.about-content p {
    font-size: 1rem;
    line-height: 1.3rem;
    text-align: justify;
}

.about-button button {
    border: none;
    color: #fff;
    background-color: #F36F2C;
    padding: 0.5rem 3rem;
    font-size: 1.2rem;
    font-weight: 600;
}

.about-button {
    display: flex;
    justify-content: end;
}

.room {
    position: relative;
    background-color: linear-gradient(261deg, #000 16.08%, rgba(0, 0, 0, 0.00) 80.78%);
}



.room .room-img {
    position: relative;
    width: 100%;
}

.room .room-img img {
    width: 100%;
    object-fit: cover;
}

.room-img .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(89deg, #000000c9 1%, rgb(0 0 0 / 0%) 80.78%);
    width: 50%;
    height: 100%;
}

.room-content {
    position: absolute;
    left: 10%;
    bottom: 25%;
}

.room-content h3 {
    color: #05A9D7;
    font-size: 1.5rem;
    font-weight: 700;
}

.room-content h2 {
    color: #F36F2C;
    font-size: 2rem;
    font-weight: 800;
}

.service {
    position: absolute;
    top: 90%;
    width: 100%;
}

.service .row {
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    margin: 0;
    padding: 0 5%;
}

.service .col-4 {
    width: 30%;
}

.card-content-func {
    border: 3px solid #B2D600;

}

.card-content-free {
    border: 3px solid #F36F2C;
}

.card-content-cadio {
    border: 3px solid #05A9D7;
}

.image-service img {
    height: 25rem;
}

.luyen-tim {
    background-color: #05A9D7;
}

.chuc-nang {
    background-color: #B2D600;
}

.tu-do {
    background-color: #F36F2C;
}

.card-content {
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-content h6 {
    font-weight: 700;
    margin: 0;
    color: #ffffff;
}

.service .col-4 p {
    font-size: 0.9em;
    padding: 10px 5px;
    text-align: justify;
    font-weight: 600;
    line-height: 1.2em;
}

.service h2 {
    padding: 15px 20px 25px 20px;
    font-weight: 800;
}

.card-content-func h2 {
    color: #B2D600
}

.card-content-free h2 {
    color: #F36F2C
}

.card-content-cadio h2 {
    color: #05A9D7;
}

.service-content {
    width: 100%;
    height: 100%;
    position: relative;
}

.service-content svg {
    width: 52px;
    height: 111.222px;
    flex-shrink: 0;
}

.service-change-left {
    padding-left: 2em;
    left: 0;
    top: 50%;
    position: absolute;
    display: inline-block;
    
}

.service-chage-right {
    right: 0;
    top: 50%;
    padding-right: 2em;
    position: absolute;
    display: inline-block;
    
}