@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

header .row {
    padding-top: 3em;
    width: 100%;
    top: 0;
    position: absolute;
    z-index: 2;
}


.header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-logo img {
    width: 100%;
    object-fit: cover;
}

.header-logo a {
    width: 50%;
    display: inline;
}

nav {
    height: 100%;
}

.header-menu ul {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.header-menu ul li {
    list-style-type: none;
    padding: 0 1em;
}

.header-menu a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 600;
}
.header-menu a:hover {
    color: #F36F2C;
}

.banner {
    top: 0;
    position: relative;
}

.banner-img img {
    width: 100%;
}

.banner-content {
    position: absolute;
    width: 50%;
    bottom: 6rem;
    right: 0;
    padding-right: 5rem;
}

.banner-content h1 {
    text-align: right;
    color: #ffffff;
    font-weight: 800;
    font-size: 3.5rem;
}

.banner-content h2 {
    font-size: 3em;
    text-align: right;
    font-weight: 800;
    color: #F36F2C;
}

.banner-content button {
    margin-top: 20px;
    font-size: 1.2em;
    border: none;
    background-color: #05A9D7;
    color: #fff;
    padding: 0.6em 2em;
    font-weight: 700;
}

.banner-button {
    display: flex;
    justify-content: end;
}

.banner-img .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(269deg, rgb(0 0 0 / 65%) 1%, rgba(0, 0, 0, 0) 80.78%);
    width: 100%;
    height: 100%;
}

.ads {
    background-color: #05A9D7;
    color: #fff;
    padding: 2em 0;
}

.ads h2 {
    font-size: 2.5rem;
    margin: 0;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
}

.about {
    height: 35rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-content {
    width: 35%;
}

.about-content h3 {
    color: #05A9D7;
    font-size: 2rem;
    font-weight: 800;
}

.about-content h2 {
    color: #F36F2C;
    font-size: 2.5rem;
    font-weight: 800;
}

.about-content p {
    padding-top: 1em;
    color: #000;
    font-size: 1.3rem;
    line-height: 1.5rem;
    text-align: justify;
    font-weight: 500;
}

.about-button button {
    border: none;
    color: #fff;
    background-color: #F36F2C;
    padding: 0.8rem 4rem;
    font-size: 1.2rem;
    font-weight: 700;
}

.about-button {
    display: flex;
    justify-content: end;
}

.room {
    position: relative;
    width: 100%;
    background-color: linear-gradient(261deg, #000 16.08%, rgba(0, 0, 0, 0.00) 80.78%);
}

.room .room-img {
    position: relative;
    width: 100%;
}

.room .room-img img {
    width: 100%;
    object-fit: cover;
}

.room-img .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(89deg, #000000c9 1%, rgb(0 0 0 / 0%) 80.78%);
    width: 50%;
    height: 100%;
}

.room-content {
    position: absolute;
    left: 10%;
    bottom: 25%;
}

.room-content h3 {
    color: #05A9D7;
    font-size: 2rem;
    font-weight: 800;
}

.room-content h2 {
    color: #F36F2C;
    font-size: 2.3rem;
    font-weight: 800;
}

.service {
    position: absolute;
    top: 90%;
    width: 100%;
}

.service .row {
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    margin: 0;
    padding: 0 5%;
}

.service .col-4 {
    width: 32%;
}

.card-content-func {
    border: 3px solid #B2D600;

}

.card-content-free {
    border: 3px solid #F36F2C;
}

.card-content-cadio {
    border: 3px solid #05A9D7;
}

.image-service img {
    height: 361px;
    object-fit: cover;
}

.luyen-tim {
    background-color: #05A9D7;
}

.chuc-nang {
    background-color: #B2D600;
}

.tu-do {
    background-color: #F36F2C;
}

.card-content {
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-content h6 {
    font-weight: 700;
    margin: 0;
    color: #ffffff;
}

.service p {
    font-size: 1em;
    padding: 15px 10px;
    text-align: justify;
    font-weight: 600;
    line-height: 1.2em;
}

.service h2 {
    padding: 15px 20px 25px 20px;
    font-weight: 800;
}

.card-content-func h2 {
    color: #B2D600
}

.card-content-free h2 {
    color: #F36F2C
}

.card-content-cadio h2 {
    color: #05A9D7;
}

.service-content {
    width: 100%;
    height: 100%;
    position: relative;
}

.service-content svg {
    width: 52px;
    height: 111.222px;
    flex-shrink: 0;
}

.service-change-left {
    padding-left: 2em;
    left: 0;
    top: 50%;
    position: absolute;
    display: inline-block;

}

.service-chage-right {
    right: 0;
    top: 50%;
    padding-right: 2em;
    position: absolute;
    display: inline-block;
}

.ads-loich {
    width: 100%;
    position: relative;
    padding: 4em 0;
    background-image: url(../img/ads-2.png);
}

.ads-content {
    width: 100%;
    position: absolute;
}

.ads-loich h2 {
    line-height: 1.5em;
    text-align: center;
    z-index: 2;
}

.ads-loich .overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(243, 111, 44, 0.94);
    ;
}

.why-chose {
    margin: 5em 0;
}

.list-item {
    display: flex;
    justify-content: flex-end;
    height: 50%;
    padding-top: 2rem;
}

.wchose-item {
    width: 40%;

}

.square {
    position: relative;
    text-align: center;
    margin-left: 3rem;
}

.square img {
    text-align: center;
    width: 100%;
}

.item-img {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
    top: 0;
}

.item-img svg {
    width: 3.5em;
}

.wchose-title {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wchose-title p {
    margin: 0;
    text-align: center;
    font-size: 0.7em;
    font-weight: 600;
}

.item-img svg {
    text-align: center;
}

.wchose-content {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    height: 100%;
}

.wchose-content h3 {
    color: #05A9D7;
    font-size: 3.5rem;
    font-weight: 800;
}

.wchose-content h2 {
    text-align: end;
    color: #F36F2C;
    font-size: 4rem;
    font-weight: 800;
    margin: 0;
}

.member {
    
    color: #fff;
    margin-bottom: 150px;
    height: 40%;
    position: relative;
}

.member::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    background-color: #05A9D7;
    z-index: -1;
}

.member h2 {
    font-size: 2.5rem;
    padding: 1.5em 0;
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
}

.member .container {
    width: 100%;
}

.member-img{
    width: 100%;
}

.member-img img {
    width: 100%;
    background-color: #E6F6FB;
    padding: 0 5%;
}
.member-button{
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 10%;
}

.member-button button {
    font-weight: 700;
    padding: 10px 40px;
    border: none;
    background-color: #05A9D7;
    color: #fff;
}

.footer-main {
    display: flex;
}
footer {
    background-color: #555859;
    color: #ffffff;
}

.footer-main-left{
    width: 70%;
    padding: 5rem 0;
}
.footer-main-left p {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.7em;
}

.up-contact{
    padding-bottom: 4rem;
}
.up-contact p {
    margin: 0;
    text-transform: none;
}
.contact-title h3{
    font-size: 1.2em;
    font-weight: 700;
}

.down-contact p{
    text-transform: none;
}
.footer-main-right{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.social{
    display: flex;
}
.social div {
    width: 1.6em;
    margin-left: 0.2em;
}
.social img {
    width: 100%;
}
.youtube{
    height: 100%;
}

.youtube a {
    height: 100%;
}

.donwload div {
    margin: 20px 0;
}
.donwload div a{
    display: flex;
    justify-content: flex-end;
}
.donwload div img{
    width: 80%;
}

.xac-minh a{
    display: flex;
    justify-content: flex-end;
}
.xac-minh img{
    width: 80%;
}

.footer-phu {
    background-color: #05A9D7;
    padding: 20px 0;
}

.footer-phu p {
    text-align: center;
    color: #222;
    font-weight: 600;
    font-size: 0.7em;
    margin: 0;
}

@media screen and (max-width: 1280px) {
    .header-menu a {
        font-size: 1rem;
    }
    .image-service img {
        height: 361px;
    }
    .image-service img {
        height: 301px;
        object-fit: cover;
    }
}
    .service p {
        font-size: 0.7em;
    }
    .ads-loich h2 {
        font-size: 2.2rem;
    }

    .wchose-content h3 {
        font-size: 3rem;
    }

    .wchose-content h2 {
       font-size: 3.5em;
    }
}

@media screen and (min-width: 1920px) {
    .image-service img {
        height: 461px;
        object-fit: cover;
    }
}