.packages {
    margin: 10% 0;
}

.packages .row {
    width: 80%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

.package {
    position: relative;
}

.package-img {
    background-color: rgba(0, 0, 0, 0.05);
    height: 400px;
}

.package-title {
    position: absolute;
    top: 10%;
    width: 100%;
}

.package-title h3 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

.package-register {
    background-color: #000;
    padding: 1.8em 0;
}

.package-register h3 {
    font-family: 'Inter', sans-serif;
    margin: 0;
    font-weight: 700;
    font-size: 2em;
}

.package-register a {
    text-decoration: none;
    color: #fff;
}

.one-month .package-title h3 {
    color: #05A9D7;
}

.one-month .package-register {
    background-color: #05A9D7;
}

.three-month .package-title h3 {
    color: #B2D600;
}

.three-month .package-register {
    background-color: #B2D600;
}

.six-month .package-title h3 {
    color: #F36F2C;
}

.six-month .package-register {
    background-color: #F36F2C;
}